<%= render :partial => 'application/menu' %>

<br/>
<div class="row">
  <div class="col-sm">
    <h1>Editing volunteer</h1>
  </div>
  <div class="col-sm">
    <%= link_to 'Back', applications_path, :class => "btn btn-light" %>
  </div>
</div>

<%= render 'form' %>


