<div id="confirm-delete" class="modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirm-delete-button">Yes</button>
      </div>
    </div>
  </div>
</div>